<title>My application</title>
  <h1>Hello, World!</h1>
  <br>
  in the left box write an integer array
  <br>
  in the right box write 3 numbers
  <br>
  if array contains mean of that 3 numbers. it returns true. else it returns false.
  <br>
  <br>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
