<title>My application</title>
  <h1>Hello, World!</h1>
  <br>
  soldaki pencereye birkac sayi giriyoruz (bu arrayimiz)
  <br>
  sagdaki pencereye 3 sayi giriyoruz
  <br>
  sagdaki 3 sayinin ortalamasi soldaki arrayde var ise true , yoksa false donuyor.
  <br>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
